:root {
    --width: 640px;
    --height: 360px;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    image-rendering: pixelated;
}

main {
    text-align: center;
}

canvas {
    width: 100%;
    /* height: var(--height); */
    background-color: lightgray;
}